{% extends '../base.html' %}

{% block content %}
<div class="center-wrap">
    <h1>khamilton.co.uk</h1>
    <p><i class="fa fa-exclamation-triangle"></i> Apologies this site is underconstruction</p>
    <p>Hi, I'm from east London, I am a keen web developer and occasionally I like drawing.</p>
    <!-- <p><?php echo $title; ?></p> -->
    <img class="max-width" src="/images/dist/fourblackmeninabathtub.svg" alt="A drawing of the iconic scene from the film cool runnings." />
</div>


<div class="center-wrap">
  <h2>Web development</h2>
    <p>I am constantly working to further my current understanding of web development, currently I have taken a keen intrest in javascript, accessibility and making sites retina ready. Take a look at my <a href="index.php?page=web" >previous work </a></p> <p>If you want to take a look at my more recent findings take a look at my <a href="index.php?page=blog" title="Blog">blog</a> I'm often trying new things and tend to document them here.</p>   
</div>

<div class="art-strip">
  <div class="center-wrap">
    <h2>Artwork</h2>
    <p>From a young age I have drawn silly pictures, In fact this website was started in my teenage years to simply 
    display my drawing. After finishing college I studied at Chelsea School of Art where I explored my love for creativity. Making film, animation
    , still life and painting. Creativity is a foundation of who I am, I still draw and paint in my free time and use these
    skills in the workplace to enhance my solutions I produce and speed up my workflow. <a href="index.php?page=artwork" title="Drawings and paintings" >feel free to take a look >></a></p>
  </div>
</div>
{% endblock %}