
<footer>
	<div class="center-wrap">
		<p><a class="fa fa-github fa-2x" href="https://github.com/khamiltonuk"><span class="hidden-text">Github</span></a>
      <a class="fa fa-linkedin fa-2x" href="http://www.linkedin.com/profile/view?id=48846178"><span class="hidden-text">linkedin</span></a>
      <a class="fa fa-instagram fa-2x" href="http://instagram.com/kristianhamilton"><span class="hidden-text">instagram</span></a>
    Email: krisham87@yahoo.com</p>
		<p><small>Copyright {{ date|date('Y') }} All images and logos copyright Kristian Hamilton</small></p>
	</div>
</footer>
<div id="go-top">go to top</div>
</div>
<script src="/js/plugins.js"></script>
<script src="/js/init.js"></script>
</body>