<!doctype html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<html lang="en" class="no-js no-svg">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <title>{{ name|title }}</title>
  {% include 'favicons.html' %}
  <link rel="stylesheet" href="/css/styles.css">
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</head>
<body>
      <h1 id="header"><a href="/" >Khamilton.co.uk</a></h1>
      <nav class="menu">
        <div class="center-wrap">
          <a class="active"  href="" title="Home">home</a>
          <a class="" href="/" title="Drawings and paintings">Artwork</a>
          <a class="" href="/" title="Web Development">Webdevelopment</a>
        </div>
      </nav>
<div id="full-screen">
  <nav class="menu">
      <div class="center-wrap">
          <a class="active"  href="index.php?page=home" title="Home">home</a>
          <a href="index.php?page=web" title="Web Development">web</a>
          <a href="index.php?page=artwork" title="Drawings and paintings">Artwork</a>
          <a href="index.php?page=blog" title="Blog">Blog</a>
      </div>
    </nav>
    <div class="center-wrap">
        <a id="menu" href="#">
            <span class="screen-reader">menu</span>
            <span class="bar"></span>
        </a>
    </div>
    <section class="main art-strip no-script">
        <div class="center-wrap">
            <p>I have tried to ensure the best possible browsing experience for users without javascript, but I'd advise using.</p>
        </div>
    </section> 